{% load staticfiles %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.min.css' %}"/><!--CSS RESET-->
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/loginForm.css' %}">
    <style>
        #codeBefore {
            display: inline;
        }

        .captcha {
            margin-bottom: 10px;
            margin-top: -10px;
        }

        #captcha_status_E {
            color: red;
        }

        #captcha_status_S {
            color: #0da919;
        }
    </style>
</head>
<body>
<div class="demo form-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <form class="form-horizontal" action="{% url 'user:user_login' %}" method="post">
                    {% csrf_token %}
                    <div class="heading">登录</div>
                    <div class="fail">{{ form.errors }} {{ msg }}</div>
                    <div class="form-group">
                        <i class="fa fa-user"></i>
                        <input required name="username" type="text" class="form-control" placeholder="Username" id="exampleInputEmail1">
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock"></i>
                        <input required name="password" type="password" class="form-control" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <i class="fa fa-etsy" aria-hidden="true"></i>
                        {{ form.captcha }}
                    </div>
                    <div id="codeBefore"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
                        <span>
                            还没有账号? <a href="{% url 'user:register' %}" class="create_account">立即注册</a>|
                            <a href="{%  url "user:forgetPassword" %}" class="create_account">忘记密码？</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script>
    $(function () {
        var msg = '{{ msg }}'
        if (msg == "update_success"){
            alert("修改成功！请登录");
        }
        else if(msg == "NotLogin"){
            alert("请登录，才能访问个人中心")
        }

        // 将图片位置放到输入框的下面
        var codeImg = $('.captcha');
        $('.captcha').remove();
        $("#codeBefore").append(codeImg);
        $("#id_captcha_1").addClass("form-control").attr({"placeholder": "请输入下面的验证码"});

        // 设置图片的指针属性
        $('.captcha').css({
            'cursor': 'pointer'
        })
        // ajax刷新验证码
        $('.captcha').click(function () {
            $.getJSON("/captcha/refresh/",function (result) {
                $('.captcha').attr('src', result['image_url']);
                $('#id_captcha_0').val(result['key'])
            });
        });

        // ajax验证
         $("#id_captcha_1").blur(function () {
            // 清除ajax验证消息
            $("#captcha_status_E").remove();
            $("#captcha_status_S").remove();
            // #id_captcha_1为输入框的id，当该输入框失去焦点是触发函数
            json_data = {
                'response': $('#id_captcha_1').val(), // 获取输入框和隐藏字段id_captcha_0的数值
                'hashkey': $('#id_captcha_0').val()
            }
             $.getJSON('{% url 'user:ajax_val' %}', json_data, function (data) {
                //ajax发送
                $('#captcha_status').remove()
                if (data['status']) { //status返回1为验证码正确， status返回0为验证码错误， 在输入框的后面写入提示信息
                    $('#id_captcha_1').after('<div id="captcha_status_S" >*验证码正确</div>')
                } else {
                    $('#id_captcha_1').after('<div id="captcha_status_E" >*验证码错误</div>')
                }
            });
         });

    });
</script>
</html>